@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
    font-weight: 300;
    line-height: 1.4;
    background-color: rgb(35, 132, 161);
}

.container {
    max-width: 450px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 100px) 1fr;
}

.row1 {
    grid-row: 1/2;
    grid-column: 1/-1;
    border-bottom: 2px solid rgb(153, 140, 140);
    display: flex;
}

.row2 {
    grid-row: 2/3;
    grid-column: 1/-1;
    border-bottom: 2px solid rgb(153, 140, 140);
    display: flex;
}

.row3 {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
}

.col1,
.col2,
.col3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.col2 {
    border-left: 2px solid rgb(153, 140, 140);
}

.col3 {
    border-left: 2px solid rgb(153, 140, 140);
}

.disable {
    display: none;
}

.enable {
    display: block;
}

.panel {
    grid-column: 1/-1;
    margin-top: 7rem;
    text-align: center;
    font-size: 2rem;
}

.strike {
    text-decoration: line-through;
    width: 100%;
}
